.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  margin-top: auto;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    flex-flow: column;
    row-gap: 0.5rem;
  }

  .promo {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: #212121;

    a {
      color: #027bf3;
    }
  }

  .links {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    @media screen and (max-width: 768px) {
      flex-flow: column;
      row-gap: 0.5rem;
    }

    a {
      font-size: 0.75rem;
      color: #999;
    }
  }
}
