.list {
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  list-style-type: decimal;

  & > li {
    font-size: 1.25rem;
    font-weight: 600;
    color: #212121;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #212121;
}

.form {
  display: flex;
  flex-flow: column;
  row-gap: 0.75rem;

  margin-top: 1.25rem;

  & > .field {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    row-gap: 0.5rem;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: stretch;
      flex-flow: column;
    }

    & > span {
      font-size: 1rem;
      font-weight: 500;
      color: #212121;

      &:is([aria-required]) {
        position: relative;

        &::before {
          content: "*";
          color: #ff3c1a;
          position: absolute;
          top: 0;
          left: -0.75rem;
        }
      }
    }

    & > input {
      font-family: inherit;
      font-size: 1rem;

      padding: 0.5rem 0.75rem;

      border-radius: 0.25rem;
      border: 1px solid #00000033;

      outline: none;

      &:focus {
        border: 2px solid #ff3c1a;
      }
    }

    & > p {
      grid-area: 2 / 2 / 3 / 3;
      color: #ff3c1a;
      font-weight: 500;
    }
  }

  & > .inputs {
    display: flex;
    flex-flow: column;

    & > .label {
      font-size: 1rem;
      font-weight: 500;
      color: #212121;

      margin-bottom: 0.5rem;

      &:is([aria-required]) {
        position: relative;

        &::before {
          content: "*";
          color: #ff3c1a;
          position: absolute;
          top: 0;
          left: -0.75rem;
        }
      }
    }

    & > .input {
      cursor: pointer;

      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    & > .error {
      grid-area: 2 / 2 / 3 / 3;
      color: #ff3c1a;
      font-weight: 500;
    }
  }
}

.footer {
  margin-top: 2rem;

  display: flex;
  column-gap: 1rem;

  & > .button {
    padding: 0.5rem 1rem;

    font-size: 0.875rem;

    border-radius: 9999px;
    background: #ff3c1a;
    color: #fff;

    border: none;
    cursor: pointer;
  }
}
